<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Show</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    <div class="container">
        <form action="{% url 'show-edit' id=show.id %}" method="post">
            <h1>Edit a Show</h1>
            <a class="btn-c" href="/shows">Go Back</a>
            {%csrf_token%}
            <div class="box">
                <label for="title">title</label>
                <input type="text" name="title" id="title" value="{{show.title}}">
            </div>
            <div class="box">
                <div class="network">
                    <div class="form-content">
                        <label for="network">network</label>
                        <input type="text" name="network" id="network" value="{{show.network}}">
                    </div>
                    <div class="form-content">
                        <label for="release_date">release_date</label>
                        <input type="date" name="release_date" id="release_date"
                            value="{{show.release_date|date:'Y-m-d'}}">
                    </div>
                </div>
            </div>
            <div class="box">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" cols="30" rows="10">{{show.desc}}</textarea>
            </div>
            <input type="submit" class="btn-c" value="update">
        </form>
    </div>
</body>

</html>
