<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{show.title}}</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    <div class="container">
        <a class="btn-c" href="/shows">Go Back</a>
        <h1>{{show.title}}</h1>
        <p>Title : {{show.title}}</p>
        <p>Network : {{show.network}}</p>
        <p>Release Date : {{show.release_date}}</p>
        <p>Description : {{show.desc}}</p>
        <p>Last Update {{show.updated_at}}</p>
        <div class="btns">
            <p><a href="{% url 'edit-page' id=show.id %}" class="btn e">Edit</a> |
            <form action="{% url 'show-delete' id=show.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn d" value="Delete">
            </form>
            </p>
        </div>
    </div>
</body>

</html>
