<!-- Main Footer -->
<footer class="main-footer">
        <strong>Copyright &copy; 2025-2026 <a href="">Osama
                        Safi</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
                <a target="_blank" class="text-danger" href="http://linkedin.com/in/osamasafi"><i
                                class="fab fa-lg fa-linkedin"></i></a>
                <a target="_blank" class="text-warning" href="http://github.com/OsamaSafi"><i
                                class="fab fa-lg ml-1 fa-github"></i></a>
        </div>
</footer>
